body {
	font-family: 'Playfair Display', serif;
	box-sizing: border-box;
	margin: 0;
	background: #d42426;
}

.header {
	background: #3C8D0D;
	color: white;
	height: 180px;
	border-bottom: 5px solid white;
}

h1 {
	text-align: center;
	margin: 0;
	padding-top: 40px;
}

h4 {
	text-align: center;
}

.translateBox {
	width: 300px;
	height: 200px;
	display: block;
	margin: 80px auto 20px;
}

.pickerButtonContainer {
	display: block;
	width: 200px;
	margin: 0 auto;
}

#transContainer {
	width: 300px;
	height: 200px;
	border: 1px dotted black;
	margin: 20px auto;
	background: white;
}