body {
	font-family: 'Playfair Display', serif;
	box-sizing: border-box;
	margin: 0;
	/*background: #d42426;*/
}

.header {
	background: #3C8D0D;
	color: white;
	height: 180px;
	border-bottom: 6px solid white;
}

h1 {
	text-align: center;
	margin: 0;
	padding-top: 40px;
}

h4 {
	text-align: center;
}

.mainBackground {
	background-image: url('Christmas-Background-5.jpg');
	background-position: cover;
	height: 650px;
	text-align: center;
}

.translateBox {
	width: 300px;
	height: 200px;
	display: inline-block;
	margin: 60px 0 30px;
	font-family: 'Playfair Display';
	font-size: 2em;
}

.pickerButtonContainer {
	display: block;
	width: 200px;
	margin: 0 auto;
}

#transContainer {
	width: 300px;
	height: 200px;
	border: 1px dotted black;
	margin: 35px auto 0;
	background: white;
	font-size: 2em;
}